/*

filename: [your name]

author: [your name]

created: [enter date]

last modified: [enter date]

description: [html files it refers to (if known)]

*/





h1 {
   color: purple;
}

.body {
  align-items: left;
  width: 45%;
  margin: auto;
  padding: 20px;
  border-left: 2px solid #163e7a;
  

  
}


h2{
  color: teal;
  font-size: 30px;
}

h3{
  font-size: 20px;
}

p {
  font-size: 12px;
}

.heading {
  color: orangered;
}

.black{
  color: black;
}

table, th, td{
  border: 1px solid;
}

<style>
 header nav ul { /* it can be ul.nav as well */
    list-style-type: none; /* Remove bullet points */
    padding: 0px;
    margin: 0px;
    overflow: hidden;    
  }

  ul.nav li {
    display: inline; /* Display list items in a horizontal line */
    
    
  }

  ul.nav li:hover {
 background-color: lightblue;
 border-color: black;
 cursor: pointer;

}

   {
    text-decoration: none;
    color: #8d8b8b;
    font-weight: bold;
    border: 3px solid #D3D3D3; 
    padding: 4px;
    
   
  }

 li{
  font-size: 15px;
 }
  </style>

 


header h1 {
    color: purple;
}


.cat {
 background-image: url(/images/mycat.jpg);
 background-size: cover;
}




.cat {
  text-align: center;
}